



    .box {

        background-color: #ffffff;
        height: 300px;
        width: 250px;
        border-radius: 5px;
        position: relative;
       align-content: center;
       border-color: #999999;
       border-style: double;
       padding-top: 20px;

        
        
        
    }
    .display {
        background-color: lightgrey;
        width: 220px;
        position: relative;
        left: 15px;
        top: 20px;
    
        height: 40px;
    }
 
    .display input {
        position: relative;
        left: 2px;
        top: 2px;
        height: 35px;
        color: black;
        background-color: #bccd95;
        font-size: 21px;
        text-align: right;
        width:220px;
        text-align: center;
    }
    .keys {
        position: center;
        top: 15px;
    }
 
    .button {
        
        height: 30px;
        border: none;
        border-radius: 5px;
        margin-left: 17px;
        cursor: pointer;
        border-style: double;
    }


.buttonoperand{
    float: center;
    align-content: center;
    width: 30px;
    height: 30px;
        border: none;
        border-radius: 5px;
        margin-left: 5px;
        cursor: pointer;
        
          border-style: double;
}

.buttonhasil{
    align-content: center;
    width: 50px;
    height: 30px;
        border: none;
        border-radius: 5px;
        margin-left: 5px;
        cursor: pointer;
        border-style: double;
}



    p {
        line-height: 10px;
    }